<main>
    <h2>Заявка на сотрудничество</h2>
    <p>
        Здравствуйте, меня зовут <%=name%>, и я хотел бы обсудить с Вами детали сотрудничества.
        Мои контактные данные:
        Мобильный телефон <%=phoneNumber%>, электронная почта <%=email%>.
        Буду рад получить ответ.
    </p>
</main>